
.home{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.container{
    margin-top: 30px;
    display: flex;
    /* border: thin solid black; */
    flex: 0 1 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: thin solid rgb(255, 0, 0); */
    flex: 0 1 80%;
} 


.filtered{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    /* border: thin solid #D99525; */
    flex: 0 1 20%;
    background-color: #f5f5f5;
    border-radius: 5px;
} 

.container_pag_sup{
    display: flex;
    justify-content: center;
    padding: 35px; 
}

.container_pag_inf{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}


.container_search{
display: flex;
justify-content: center;
margin-top: 25px;
}

.button_search{
    width: 60px;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid #D99525;
    line-height: 0;
    font-size: 13px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5px;
    border-radius: 5px;
    color: #D99525;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
.button_search:hover,

.button_search:focus {
    color: white;
    background-color: #D99525;
}

.input_search{
    background-color: #ffffff;
}