.button {

    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid #D99525;
    line-height: 0;
    font-size: 13px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5px;
    border-radius: 5px;
    color: #D99525;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    /* margin-bottom: 1px; */
}

.button:hover,


.button:focus {
    color: white;
    background-color: #D99525;
}

.parrafo_paginado{
    color: #D99525;
}












/* .paginado{
    display: flex;
    justify-content: center;
} */